@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

body {
  background-color: black;
  font-family: "Poppins", serif;
}

.seperation{
  height:4px;
}
.navbar {
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
}

.navbar-center {
  gap: 10px;
}

.container {
  /* isko yad rak le --------------------------------------------------- */
  /* height: 100vh; */
  gap: 10px;
  overflow: hidden;
}

.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: #2e2e2e;
}

.svg {
  height: 45px;
  width: 30px;
  color: white;
}

.homecontainer > img {
  height: 22px;
  width: 30px;
}

.login {
  font-weight: 500;
  font-style: normal;
  gap: 15px;
}

.login > a {
  color: white;
  text-decoration: none;
  filter: brightness(0.7);
  font-size: 0.9rem;
  transition: filter 0.3s ease, color 0.3s ease;
}

.login > a:hover {
  color: rgb(255, 255, 255);
  filter: brightness(1);
}

.searchinput {
  width: 350px;
  height: 40px;
  background: url(assets/svg/serach.svg);
  color: aliceblue;
  background-color: #2e2e2e;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 20px, 30px;
  border: 1px;
  border-radius: 30px;
  padding-left: 50px;
  font-weight: 500;
  font-style: normal;
}

.login-btn {
  width: 100px;
  height: 40px;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-weight: 750;
}

.login-btn:hover {
  font-size: 0.9rem;
}

.left {
  width: 25vw;
  /* --------------------------------------------------------------- */
  /* height: fit-content;  */
  background-color: rgb(18, 18, 18);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left-top {
  display: flex;
  filter: invert(1) brightness(0.7);
  justify-content: space-between;
  min-height: 50vh;
}

.library > img {
  height: 25px;
  width: 35px;
}

.library {
  position: relative;
  top: 6px;
  font-weight: 500;
  font-style: normal;
  gap: 10px;
}

.plus {
  position: relative;
  top: 2px;
  font-size: 1.6rem;
}

.left-footer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
  /* top: 100px; */
  
}

.left-footer > a {
  color: rgb(174, 179, 179);
  text-decoration: none;
  filter: brightness(0.7);
  font-size: 0.7rem;
  transition: filter 0.3s ease, color 0.3s ease;
}

.left-footer > a:hover {
  color: rgb(255, 255, 255);
  filter: brightness(1);
}

.right {
  width: 75vw; 
  background-color: rgb(8, 8, 8);
  padding: 20px;
  max-height: 90vh; /* Restricts height to viewport */
  overflow-y: auto; /* Only the `.right` div will scroll */
  box-sizing: border-box; /* Padding included in height */
}


.right > h2{
  /* display: inline-block; */
  filter: invert(1) brightness(0.7);
  position: relative;
  bottom: 15px;
  margin-bottom: 0px;
}

.card-container{
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  row-gap: 20px;

}

.card{
  width: fit-content;
  border-radius: 5px;
  color: #c0bdbd;
  padding: 7px;
}

.card:hover{
  background-color: rgb(30, 30, 30);
}

.card>img{
  width: 155px;
  height: 200px;
  border-radius: 7px;
  object-fit: cover;
}

.card > h3{
  margin: 0px;
}

.card>p{
  font-size: 0.9rem;
  margin: 0px;
}



/* --------------------------Fancy Stuff-------------------------------- */
.right::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(51, 50, 50);
}

.right::-webkit-scrollbar-track {
  background-color: transparent;
}
