body {
  background-color: black;
}

.navbar {
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
}

.navbar-center{
  gap: 10px;
}
.container {
  height: 100vh;
  gap: 10px;
}

.homecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: #2e2e2e;
}

.svg {
  height: 45px;
  width: 30px;
  color: white;
}

.homecontainer > img{
  height: 22px;
  width: 30px;
}

.login {
  gap: 5px;
}

.login > a {
  color: white;
  text-decoration: none;
}

.searchinput{
  width: 350px;
  height: 40px;
  background : url(assets/svg/serach.svg);
  background-color: #2e2e2e;
  background-position: 3% 50%;
  background-repeat: no-repeat;
  background-size: 20px,30px;
  border: 1px ;
  border-radius: 30px;
  padding-left: 35px;
  
}

.login-btn{
  width: 100px;
  height: 40px;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  /* font-size: 1.2em; */
  /* font-weight: 550; */
}

.left {
  width: 25vw;
}

.right {
  width: 75vw;
}
